@font-face {
  font-family: bi-icon;
  src: url("//at.alicdn.com/t/font_538964_lt8h7c2h3hfo5hfr.eot");
  src: url("//at.alicdn.com/t/font_538964_lt8h7c2h3hfo5hfr.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_538964_lt8h7c2h3hfo5hfr.woff") format("woff"), url("//at.alicdn.com/t/font_538964_lt8h7c2h3hfo5hfr.ttf") format("truetype"), url("//at.alicdn.com/t/font_538964_lt8h7c2h3hfo5hfr.svg#iconfont") format("svg");
}
@font-face {
  font-family: Chinese Quote;
  src: local("PingFang SC"), local("SimSun");
  unicode-range: U+2018, U+2019, U+201c, U+201d;
}
@font-face {
  font-family: Tahoma For Number;
  src: local("Tahoma");
  unicode-range: U+30-39;
}
@font-face {
  font-family: larkicon;
  src: url("//at.alicdn.com/t/font_227976_cbozu9fvtz.eot");
  src: url("//at.alicdn.com/t/font_227976_cbozu9fvtz.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_227976_cbozu9fvtz.woff") format("woff"), url("//at.alicdn.com/t/font_227976_cbozu9fvtz.ttf") format("truetype"), url("//at.alicdn.com/t/font_227976_cbozu9fvtz.svg#iconfont") format("svg");
}
@font-face {
  font-family: Chinese Quote;
  src: local("PingFang SC"), local("SimSun");
  unicode-range: U+2018, U+2019, U+201c, U+201d;
}
@font-face {
  font-family: webfont;
  src: url("//at.alicdn.com/t/8fm6xy90ebs54s4i.eot");
  src: url("//at.alicdn.com/t/8fm6xy90ebs54s4i.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/8fm6xy90ebs54s4i.woff") format("woff"), url("//at.alicdn.com/t/8fm6xy90ebs54s4i.ttf") format("truetype"), url("//at.alicdn.com/t/8fm6xy90ebs54s4i.svg#FZQKBYSJW--GB1-0") format("svg");
}
.lei-md {
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
  font-size: 14px;
  font-family: Tahoma For Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #262626;
  line-height: 24px;
  letter-spacing: 0.05em;
  outline-style: none;
  word-wrap: break-word;
  -webkit-user-select: auto;
}
.lei-md h1,
.lei-md h2,
.lei-md h3,
.lei-md h4,
.lei-md h5,
.lei-md h6 {
  margin-top: 0;
  margin-bottom: 0;
  white-space: normal;
  color: #262626;
  word-spacing: 1px;
  font-weight: 700;
}
.lei-md h1 {
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 1.389;
  font-weight: 700;
  color: #262626;
}
.lei-md h2 {
  font-size: 24px;
  line-height: 32px;
  padding: 7px 0;
}
.lei-md p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  min-height: 24px;
  line-height: 24px;
  white-space: normal;
  margin: 0;
  letter-spacing: 0.05em;
}
.lei-md b,
.lei-md strong {
  font-weight: bolder;
}
.lei-md a {
  color: #096dd9;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
.lei-md a,
.lei-md a:active {
  word-wrap: break-word;
  color: #096dd9;
}
