/* PrismJS 1.14.0
 http://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
 code[class*="language-"],
 pre[class*="language-"] {
   color: black;
   background: none;
   text-shadow: 0 1px white;
   font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;

   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 pre[class*="language-"]::-moz-selection,
 pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection,
 code[class*="language-"] ::-moz-selection {
   text-shadow: none;
   background: #b3d4fc;
 }

 pre[class*="language-"]::selection,
 pre[class*="language-"] ::selection,
 code[class*="language-"]::selection,
 code[class*="language-"] ::selection {
   text-shadow: none;
   background: #b3d4fc;
 }

 @media print {
   code[class*="language-"],
   pre[class*="language-"] {
     text-shadow: none;
   }
 }

 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: 0.5em 0;
   overflow: auto;
 }

 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #f7f7f7;
 }

 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: 0.1em;
   border-radius: 0.3em;
   white-space: normal;
 }

 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }

 .token.punctuation {
   color: #999;
 }

 .namespace {
   opacity: 0.7;
 }

 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #905;
 }

 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #690;
 }

 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string {
   color: #9a6e3a;
   background: hsla(0, 0%, 100%, 0.5);
 }

 .token.atrule,
 .token.attr-value,
 .token.keyword {
   color: #07a;
 }

 .token.function,
 .token.class-name {
   color: #dd4a68;
 }

 .token.regex,
 .token.important,
 .token.variable {
   color: #e90;
 }

 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }

 .token.entity {
   cursor: help;
 }

 pre[class*="language-"].line-numbers {
   position: relative;
   padding-left: 1em;
   counter-reset: linenumber;
 }

 pre[class*="language-"].line-numbers > code {
   position: relative;
   white-space: inherit;
 }

 .line-numbers .line-numbers-rows {
   display: none;
 }



@font-face {
  font-family: Chinese Quote;
  src: local("PingFang SC"), local("SimSun");
  unicode-range: U+2018, U+2019, U+201c, U+201d;
}
@font-face {
  font-family: Tahoma For Number;
  src: local("Tahoma");
  unicode-range: U+30-39;
}
@font-face {
  font-family: Chinese Quote;
  src: local("PingFang SC"), local("SimSun");
  unicode-range: U+2018, U+2019, U+201c, U+201d;
}
.markdown-body {
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: Tahoma For Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #262626;
  line-height: 24px;
  letter-spacing: 0.05em;
  outline-style: none;
  word-wrap: break-word;
  -webkit-user-select: auto;
  max-width: 752px;
  padding: 0 12px;
  margin-left: auto;
  margin-right: auto;
}
.markdown-body ::selection {
  color: inherit;
  background: rgba(27, 162, 227, 0.2);
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
  white-space: normal;
  color: #262626;
  word-spacing: 1px;
  font-weight: 700;
}
.markdown-body h1 {
  font-size: 28px;
  line-height: 36px;
  padding: 7px 0;
}
.markdown-body h2 {
  font-size: 24px;
  line-height: 32px;
  padding: 7px 0;
}
.markdown-body h3 {
  font-size: 20px;
  line-height: 28px;
  padding: 7px 0;
}
.markdown-body h4 {
  font-size: 16px;
  line-height: 24px;
  padding: 7px 0;
}
.markdown-body h5 {
  font-size: 14px;
  line-height: 24px;
  padding: 7px 0;
}
.markdown-body h6 {
  font-size: 14px;
  line-height: 24px;
  padding: 7px 0;
  font-weight: 400;
}
.markdown-body p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  min-height: 24px;
  line-height: 24px;
  white-space: normal;
  margin: 0;
  letter-spacing: 0.05em;
  font-size: 14px;
}
.markdown-body b,
.markdown-body strong {
  font-weight: bolder;
}
.markdown-body sup {
  top: -0.5em;
}
.markdown-body sub {
  bottom: -0.25em;
}
.markdown-body sup,
.markdown-body sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
.markdown-body a {
  color: #096dd9;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
.markdown-body a,
.markdown-body a:active {
  word-wrap: break-word;
  color: #096dd9;
}
.markdown-body a:hover {
  color: #1890ff;
}
.markdown-body img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  border-radius: 2px 2px;
  display: inline-block;
  opacity: 1;
  text-align: left;
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.markdown-body pre {
  border-radius: 0;
  border-width: 0;
  background: #f9f9f9;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
  position: relative;
  padding: 16px;
  overflow: visible;
  border: 1px solid #e8e8e8;
  border-radius: 2px 2px;
  text-indent: 0;
  overflow-y: scroll;
  overflow-x: visible;
}
.markdown-body code {
  font-family: monospace;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px;
  line-height: inherit;
  word-wrap: break-word;
  text-indent: 0;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.markdown-body pre code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 13px;
  line-height: 21px;
  color: #595959;
  direction: ltr;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.markdown-body table {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  word-wrap: break-word;
  word-break: normal;
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  cursor: default;
  width: 96%;
}
.markdown-body tbody,
.markdown-body tr,
.markdown-body th,
.markdown-body td {
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;
}
.markdown-body table tr td,
.markdown-body table tr th {
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;
  min-width: 90px;
  font-size: 14px;
  white-space: normal;
  word-wrap: break-word;
  border: 1px solid #d9d9d9;
  vertical-align: top;
  padding: 4px 8px;
  cursor: default;
}
.markdown-body th {
  background-color: #f0f0f0;
  font-weight: bold;
}
.markdown-body ul,
.markdown-body ol {
  margin: 0 0 0 3px;
  padding: 0;
  padding-left: 23px;
}
.markdown-body li {
  white-space: normal;
  margin-left: 23px;
}
.markdown-body > ul {
  padding-left: 0;
  list-style-type: disc;
}
.markdown-body > ul > ul {
  list-style-type: circle;
}
.markdown-body > ul > ul > ul {
  list-style-type: square;
}
.markdown-body > ol {
  padding-left: 0;
  list-style-type: decimal;
}
.markdown-body > ol > ol {
  list-style-type: lower-alpha;
}
.markdown-body > ol > ol > ol {
  list-style-type: lower-roman;
}
.markdown-body li > * {
  font-size: 14px;
}
.markdown-body hr {
  box-sizing: border-box;
  margin-top: -2px;
  width: 100%;
  height: 2px;
  background-color: #e8e8e8;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  overflow: visible;
}
.markdown-body blockquote {
  margin: 0 0 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1em;
  margin-left: 0;
  border-left: 3px solid #eee;
  opacity: 0.6;
}
.markdown-body {
  margin-top: 82px;
  margin-bottom: 96px;
}
.markdown-body > h1,
.markdown-body > h2,
.markdown-body > h3,
.markdown-body > h4,
.markdown-body > h5,
.markdown-body > h6 {
  margin-bottom: 1em;
  margin-top: 2em;
}
.markdown-body > h1:first-child {
  margin-top: 0;
}
.markdown-body > p,
.markdown-body > ul,
.markdown-body > ol,
.markdown-body > table,
.markdown-body > pre,
.markdown-body > hr,
.markdown-body > blockquote {
  margin-bottom: 1.8em;
}
